html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
}

button, a {
  cursor: pointer;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*ХЕДЕР*/
header {
  background-image: url(../img/header/bg-header.png);
  background-repeat: no-repeat;
}

header .wrapper {
  padding: 279px 0 200px 0;
  text-align: center;
}

h1 {
  margin: 0;
  height: 140px;
  font-size: 48px;
  font-weight: 100;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.btn-nav {
  height: 345px;
  width: 345px;
  border-radius: 50%;
  border: none;
  background-color: #f9f0e575;
  box-shadow: 0px 0px 1px 10px #f9f0e575;
  font-size: 28px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: 50% 37%;
}

 .btn-nav a{
  text-decoration: none;
  color: black;
}

.btn-nav:hover {
  border: 1px solid #009e82;
}

.btn-nav__moreInfo {
  display: none;
}

.btn-nav--item1 {
  background-image: url(../img/header/btn/icon-1.png);
}

.btn-nav--item2 {
  background-image: url(../img/header/btn/icon-2.png);
}

.btn-nav--item3 {
  background-image: url(../img/header/btn/icon-3.png);
}


/*MAIN*/
main {
  background-image: url(../img/main/bg-main.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.nav-main__item {
  display: block;
  border: none;
  text-decoration: none;
  color: black;
  padding: 45px 0;
  width: 365px;
  text-align: center;
}

.nav-main__item--active {
  color: #009e82;
  border-bottom: 3px solid #009e82;
}

.nav-main__item:hover {
  color: #009e82;
}

section {
  padding: 90px 0 155px 0;
}

.description-text {
  width: 702px;
  font-size: 18px;
  margin-bottom: 55px;
}

.description-title {
  margin-bottom: 55px;
  font-size: 24px;
  font-weight: bold;
}

.description-list {
  margin-bottom: 55px;
  padding-left: 0;
  width: 750px;
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: num; /* Задаём имя счетчика */
}

.description-list__item {
  margin-bottom: 16px;
  font-size: 18px;
}

.description-list__item::before {
    content: counter(num) ' '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color: #009e82;
    font-size: 27px;
    margin-right: 7px;
   }

.continue-btn {
  width: 155px;
  height: 45px;
  font-size: 18px;
  background-color: #009e82;
  color: white;
  border: none;
  border-radius: 5px;
}

.hiddenImgMobile {
  display: none;
}

  /*секция Invest*/
.sectionInvest {
  display: none;
}
  /*секция CallInvestor*/
.sectionCallInvestor {
  display: none;
}
